body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    height: 400px;
    width: 100%; 
   }

#charList > li {
    list-style: none;
    float: left;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    background-color: lightcoral;
    
}

.sidebar {
    background-color: #c6acc9;
}

.jumbotron {
    background-color: #fdd6b5;
}

