body {
    background-image: url("../images/worldmap.jpg");
    background-position: top;
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    height: 400px;
    width: 100%; 
   }

#charList > li {
    list-style: none;
    float: left;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background-color: white;
    opacity: 0.5;

    
}

#game-state {
    letter-spacing: 10px;
}

.sidebar {
    /* background-color: white; */
}

.jumbotron {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

#dash-card {
    padding: 10px 50px;
}

.card {
    margin: 10px 0px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

button {
    opacity: 0.8;
}